body {
    background-color: #463d36;
    color: #463d36;
    font-family: sans-serif;
}

.Status_checkup {
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 600px;
    background-color: white;
    padding: 40px;
}

.Status_checkup h2 {
    color: #a6192e;
    font-size: 28px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 0;
}

.Status_checkup h1 {
    font-size: 40px;
    margin-top: 0;
    font-weight: lighter;
    text-transform: uppercase
}

.Status_checkup p {
    font-size: 28px;
}

.Status_checkup button {
    background-color: #463d36;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding: 30px 40px;
    text-transform: uppercase
}

/* #work_hours {
    color: #a6192e;
    padding: 30px 50px 0 20px;
    font-weight: bolder;
}

#banana_peel {
    font-size: 20px;
    padding: 0 50px 10px 20px;
}

#text {
    font-size: 20px;
    padding: 0 50px 10px 20px;
}

#button {
    color: white;
    background-color: #463d36;
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin: 0 50px 20px 20px;
} */